<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= post.likes %></h3>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>

    <!-- comments -->
    <form action="/comment/createComment/<%= post.id %>" method="POST">
      <div class="mb-3">
          <label for="comment" class="form-label">Add Comment</label>
          <input type="text" class="form-control" placeholder="Type Here" id="comment" name="comment">
      </div>
      <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    </form>


    <% for(var i=0; i<comments.length; i++) {%>
    <div class="container mt-5">
      <div class="row  d-flex justify-content-center">
          <div class="col-md-8">
              
            <!-- Each comment -->
            <div class="card p-3">
                
              <div class="d-flex justify-content-between align-items-center">
                  
                <div class="user d-flex flex-row align-items-center">

                  <span>
                    <small class="font-weight-bold text-primary">
                      <%= comments[i].createdBy.userName%>
                    </small>
                    <small class="font-weight-bold">
                      <%= comments[i].comment%>
                    </small>
                  </span>

                </div>

                <small>2 days ago</small>
              </div>
                
            </div>
            <!-- Each comment -->   

              
          </div>    
        </div>   
    </div> 
    <% } %>
      
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
