<%- include('partials/header') -%>
<div class="container">
  <div class="columns mt-5">
    <div class="column is-full">
      <div class="box no-hover">
        <h1 class="title">User Profile</h1>
        <div class="content">
          <p><strong>User Name:</strong> <%= user.userName %></p>
          <p><strong>Email:</strong> <%= user.email %></p>
        </div>
        <footer class="card-footer is-flex is-justify-content-space-between">
          <a href="/question" class="button is-primary">Return to Questions</a>
          <a href="/logout" class="button is-primary">Logout</a>
        </footer>        
      </div>

      <div class="mt-5 <%= user.role %>">
        <h2 class="title">Add a Question</h2>
        <form action="/question/createQuestion" enctype="multipart/form-data" method="POST">
          <div class="field">
            <label class="label" for="title">Title</label>
            <div class="control">
              <input class="input" type="text" id="title" name="title">
            </div>
          </div>
          <div class="field">
            <label class="label" for="answer">Answer</label>
            <div class="control">
              <input class="input" type="text" id="answer" name="answer">
            </div>
          </div>
          <div class="field">
            <label class="label" for="imgUpload">Image</label>
            <div class="control">
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit" value="Upload">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- <div class="column is-half">
      <div class="columns is-multiline">
        <% for(var i=0; i<posts.length; i++) { %>
          <div class="column is-6 mt-5">
            <a href="/post/<%= posts[i]._id %>">
              <figure class="image is-4by3">
                <img src="<%= posts[i].image %>">
              </figure>
            </a>
          </div>
        <% } %>
      </div>
      
    </div> -->
  </div>
</div>

<%- include('partials/footer') -%>