<%- include('partials/header') -%>

<div class="container">

  <div class="columns mt-5">
    <div class="column is-full">
      <div class="box no-hover">
        <h1 class="title">User Profile</h1>
        <div class="content">
          <p><strong>User Name:</strong> <%= user.userName %></p>
          <p><strong>Email:</strong> <%= user.email %></p>
        </div>
        <footer class="card-footer is-flex is-justify-content-space-between">
          <a href="/logout" class="button is-primary">Logout</a>
        </footer> 
      </div>
    </div>
  </div>

  <div class="modal" id="confirmation-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Confirmation</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        Hey there! Just a heads up - once you start the exam, you gotta finish it to save your progress. Are you sure you wanna head to the questions page now?
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" id="confirm-button">Yes</button>
        <button class="button" id="cancel-button">No</button>
      </footer>
    </div>
  </div>

  <% if (results && results.length > 0) { %>
    <div class="columns mt-5">
      <div class="column is-full">
        <div class="box no-hover">
          <h1 class="title">Last 5 Scores</h1>
          <div class="content">
            <ul>
              <% results.slice(-5).forEach((result, index) => { %>
                <li>Exam <%= index+1 %>: <%= result.score %>% 
                  <span class="<%= result.score > 80? 'passed' : 'failed' %>">
                  <%= result.score > 80 ? 'Passed' : 'Failed' %>
                  </span>
                </li>
              <% }); %>
            </ul>
          </div>
          <footer class="card-footer is-flex is-justify-content-space-between">
            <!-- <a href="/logout" class="button is-primary">Logout</a> -->
          </footer> 
        </div>
      </div>
    </div>
  <% } %>

  <div class="columns mt-5">
    <div class="column is-full">
      <div class="box no-hover is-flex is-justify-content-center">
        <button class="button is-primary" id="start-button">Start Exam</button>
      </div>
    </div>
  </div>

  <div class="columns mt-5">
    <div class="column is-full <%= user.role %>">
      <div class="box no-hover">
        
        <h2 class="title">Add a Question</h2>
        
        <form action="/question/createQuestion" enctype="multipart/form-data" method="POST">
          <div class="field">
            <label class="label" for="title">Title</label>
            <div class="control">
              <input class="input" type="text" id="title" name="title">
            </div>
          </div>
          
          <div class="field">
            <label class="label" for="answer">Answer</label>
            <div class="control">
              <input class="input" type="text" id="answer" name="answer">
            </div>
          </div>
          <div class="field">
            <label class="label" for="answer1">Answer1</label>
            <div class="control">
              <input class="input" type="text" id="answer1" name="answer1">
            </div>
          </div>
          <div class="field">
            <label class="label" for="answer2">Answer2</label>
            <div class="control">
              <input class="input" type="text" id="answer2" name="answer2">
            </div>
          </div>
          <div class="field">
            <label class="label" for="answer3">Answer3</label>
            <div class="control">
              <input class="input" type="text" id="answer3" name="answer3">
            </div>
          </div>
          
          <div class="field">
            <label class="label" for="imgUpload">Image</label>
            <div class="control">
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit" value="Upload">Submit</button>
            </div>
          </div>
        </form>
      
      </div>
    </div>
  </div>

</div>

<%- include('partials/footer') -%>