<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
        <h2>Question</h2>

        <ul>

                <li>
                    <%= question.title %>
                    <br>
                    <%= question.answer %>
                    <br>
                    <%= question._id %>

                    
                   

                    <div class="row justify-content-between">
                        <form
                            class="col-1"
                            action="/question/completedQuestion/<%= question._id %>?_method=PUT"
                            method="POST"
                        >
                            <button class="btn btn-primary fa-sharp fa-solid fa-check" type="submit"></button>
                        </form>
                        
                        <form
                            action="/question/deleteQuestion/<%= question._id %>?_method=DELETE"
                            method="POST"
                            class="col-3"
                    >
                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                        </form>
                    </div>
                </li>

        
        </ul>

        <a href="/question/previousQuestion/<%= question._id %>"><i class="fa-solid fa-arrow-left"></i></a>
        <a href="/question/nextQuestion/<%= question._id %>"><i class="fa-solid fa-arrow-right"></i></a>

        
    </div>


      
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
