<%- include('partials/header') -%>


<div class="columns">
    <div class="column">
        
        <div class="card">
            <header class="card-header has-text-centered">
                <h2 class="title is-2 has-text-centered"><%= question.title %></h2>
            </header>
            <div class="card-content is-flex is-flex-wrap-nowrap is-justify-content-center is-flex-direction-column">
                
                <div class="questionAnswer content box is-fullwidth is-hidden">
                    <a href="#"><h3 id="questionAnswer" class="subtitle is-3 has-text-centered"><%= question.answer %></h3></a> 
                </div>
                
                <div class="questionAnswer content box is-fullwidth is-hidden">
                    <a href="#"><h3 id="questionAnswer" class="subtitle is-3 has-text-centered"><%= question.answer %></h3></a> 
                </div>
                
                <div class="questionAnswer content box is-fullwidth is-hidden">
                    <a href="#"><h3 id="questionAnswer" class="subtitle is-3 has-text-centered"><%= question.answer %></h3></a> 
                </div>
                
                <div class="questionAnswer content box is-fullwidth is-hidden">
                    <a href="#"><h3 id="questionAnswer" class="subtitle is-3 has-text-centered"><%= question.answer %></h3></a> 
                </div>
                
            </div>
        </div> 

        <div class="card">
            <div class="card-content">
                <div class="buttons is-centered">
                    <a href="#" id="showAnswer" class="button is-info">
                        <i id="answerIcon" class="fa fa-eye-slash">Show Answer</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="buttons is-centered">
                    <form
                        class="col-1"
                        action="/question/completedQuestion/<%= question._id %>?_method=PUT"
                        method="POST"
                    >
                        <button class="button markComplete fa fa-check <%= markComplete %>" type="submit"><%= markComplete?'Marked Complete' : 'Mark Complete' %></button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-content">
                <div class="buttons is-centered is-flex is-justify-content-space-between">
                    <a href="/question/previousQuestion/<%= question._id %>"  class=<%= (messages.previousQuestionError) != null ? 'isDisabled' : '' %>>
                        <i class="fa fa-angle-left"></i>
                        <span class="is-size-5">Prev</span>
                        <% if (messages.previousQuestionError) { %>   
                            <span class="notification is-warning">
                              <%= messages.previousQuestionError.pop() %>
                            </span>
                        <% } %> 
                    </a>
                    <a href="/question/nextQuestion/<%= question._id %>" class=<%= (messages.nextQuestionError) != null ? 'isDisabled' : '' %>>
                        <% if (messages.nextQuestionError) { %>   
                              <span class="notification is-warning">
                                <%= messages.nextQuestionError.pop() %>
                              </span>
                        <% } %> 
                        <span class="is-size-5">Next</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-content">
                <div class="buttons is-centered">
                    <form
                        class="col-1 <%= user.role %>"
                        action="/question/deleteQuestion/<%= question._id %>?_method=DELETE"
                        method="POST"
                    >
                        <button class="button is-danger showTrashIcon fa fa-trash" type="submit"></button>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
</div>
</div>



<%- include('partials/footer') -%>
